extends layout

block head
    script(src="routes/entcode.js")
block title
    title Test

block content
    h1 Hey there!On this web-page you can hide your message in image:)
    p What would you like to do with your image?
    div(class="container")
        div(class="row")
            div(class="col-md-6")
                h1 Encode DWM
                button#btnEncode(class="btn") Encode
            div(class="col-md-6")
                h1 Decode DWM
                button#btnDecode(class="btn") Decode

